<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css">
    <title>Document</title>
  </head>
  <body>
    <h1> Привeт, Чупка.
         Любимая Маська. </h1>
    <button>Add</button> 
      <form>
      <p>
        <label for="login">Ваш логін</label>
        <input id="login" name="user-login" required />
      </p>

       <P>
        <label for="text">Add new task</label>
        <input id="user-text" name="user-text" type="text" /> 
       </P>

        <p> 
          <label for="email"> E-mail</label> 
          <input id="email" name="user-email" required  />
        </p> 

        <p>
        <label for="search-query"> Search task </label>
        <input id="search-query" name="search-query" type="search" />
       </p>

        <p>
          <button type="submit">Delete all</button>
        </p>
      </form>

       <div id="root"></div>
       <script type="module" src="/src/main.jsx"></script>
       <script> </script>

  </body>
</html> 
